.nav {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    font-weight: 600;
    max-width: 450px;

    ul {
        list-style: none;
        display: flex;
        padding: 0;

        li {
            width: 50%;
            font-size: 15px;

            div {
                display: flex;
                flex-flow: column;
                align-items: center;
                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 30px;
                }
            }

        }
    }
}