@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.wrapper {
  position: relative;
  margin-top: 75px;
  // background: #f5f5f5;

  margin: 0 20px 120px 20px;
  border-radius: 15px;
  box-shadow: 41px 30px 67px -13px rgba(153, 153, 153, 0.61);

  .cta {
    display: flex;

    .cta_iconWrapper.active {
      border-radius: 15px 0 0 0;
      background: $red;

      span {
        transform: rotate(90deg);
      }

      span:last-child {
        left: 50%;
        right: 50%;
      }
    }

    &_iconWrapper {
      position: relative;
      width: 27%;
      height: 70px;
      border-radius: 15px 0 0 15px;
      background: $green;
      transition: all linear 0.3s;

      span {
        position: absolute;
        transition: 0.3s;
        background: white;
        border-radius: 2px;
      }

      span:first-child {
        top: 29%;
        bottom: 29%;
        width: 5%;
        left: 47.5%;
      }
      span:last-child {
        left: 36%;
        right: 36%;
        height: 7%;
        top: 46.5%;
      }
    }

    h2 {
      padding-top: 22px;
      padding-left: 20px;
      margin: 0;
      flex-grow: 1;
      vertical-align: middle;
    }
  }

  form {
    padding: 0 20px;
    max-height: 0;
    transition: all 0.3s linear;
    opacity: 0;
    overflow: hidden;
  }

  form.active {
    padding: 30px 20px;
    max-height: 2000px;
    animation: appear-bottom 0.5s ease 0.6s forwards;
  }

  .inputWrapper {
    padding: 5px 0px 15px 0;

    label {
      font-size: 17px;
      padding-bottom: 4px;
      padding-left: 7px;
    }

    input {
      width: 100%;
      border: none;
      border-radius: 15px;
      font-size: 15px;
      margin-top: 10px;
      background: $gray;
    }

    .dishName {
      padding: 10px 14px;
    }

    &_costIncrementor {
      display: flex;
      align-items: center;

      button {
        background: none;
        border: none;

        img {
          height: 35px;
        }
      }

      label {
        padding-left: 0;
      }
    }

    &_time {
      input {
        width: 50px;
        padding: 8px 7px;
        margin-right: 7px;
        text-align: center;
      }
    }

    &_fileUploadInput {
      label {
        font-weight: 600;
        text-decoration: underline;
      }

      span {
        padding-top: 5px;
        display: block;
        color: gray;
      }

      input {
        position: absolute;
        left: -99999rem;
      }
    }

    &_addedIngredients {
      button {
        position: absolute;
        right: 30px;
        background: none;
        border: none;
        color: $red;
        font-weight: 600;
      }

      input {
        outline: none;
        margin: 0;
        background: none;
      }

      .ingredient {
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 15px;
        padding: 10px 14px;
        background: $gray;
      }
    }

    &_newIngredientWrapper {
      position: relative;

      input {
        padding: 10px 14px;
      }

      button {
        position: absolute;
        padding: 5px 10px;
        right: 10px;
        top: calc(50% - 8px);
        background: none;
        border: none;
        font-weight: 600;
        color: $green;
      }
    }
  }

  .submitButton {
    margin-top: 15px;
    background: $green;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    opacity: 0.1;

    &___active {
      opacity: 1;
    }
  }
}
